# https://web.archive.org/web/20150403162757/http://linux.about.com/library/cmd/blcmdl3_readline.htm
# https://www.topbug.net/blog/2017/07/31/inputrc-for-humans/

set editing-mode emacs
set show-all-if-ambiguous On
set show-all-if-unmodified On
set completion-ignore-case Off
set colored-stats On
set visible-stats On
set mark-symlinked-directories On

# menu-complete
# This feature will make tab cycle through results instead of just showing them below
# set menu-complete-display-prefix On
# TAB: menu-complete
